########################################
# OS
########################################
.DS_Store
Thumbs.db

########################################
# Maven
########################################
target/
!**/src/main/**/target/
!**/src/test/**/target/

########################################
# Gradle
########################################
build/
!**/src/main/**/build/
!**/src/test/**/build/

########################################
# Spring Boot / Secrets
########################################
*.yml
*.yaml
*.properties
.env

########################################
# Logs
########################################
*.log

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
*.iws
*.ipr
out/

########################################
# Eclipse / STS
########################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

########################################
# VS Code
########################################
.vscode/

########################################
# NetBeans
########################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

########################################
# Node (if frontend later)
########################################
node_modules/
dist/

########################################
# Test reports
########################################
surefire-reports/
failsafe-reports/

########################################
# Misc
########################################
*.tmp
*.swp
